
h1 {
    text-align: center;
}

p {
    font: icon;
    font-size: larger;
}

span {
    text-align: center;
}

summary {
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

button {
    align-self: center;
    background-color: rgba(127, 255, 0, .5);
    border-radius: 10px;
}

kbd {
    font-size: x-large;
}

#page {
    display: grid;
    grid-template-areas:
        'header ' 
        'QrCont ' 
        'comCont' 
        'navCont';
    grid-template-rows: 1fr 4fr 4fr 1fr;
}

#output {
    background-color: aqua;
}

#canvasClockface {
    width: 300px;
    height: 300px;
    border: 1px solid;
}

#headContainer {
    display: grid;
    grid-area: header;
    grid-template-columns: 1% 15% auto 15% 1%;
    row-gap: .3em;
    grid-template-areas: '. gblscr header lclscr .';
}

#globalManaCounter {
    display: grid;
    grid-area: gblscr;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

#gameName {
    grid-area: header;
    font-size: 3em;
}

#localManaCounter {
    display: grid;
    grid-area: lclscr;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

#QrContainer {
    grid-area: QrCont;
}

#communicationContainer {
    display: grid;
    grid-area: comCont;
    align-content: center;
    justify-content: center;
}

#navigationContainer {
    display: grid;
    grid-area: navCont;
    justify-content: center;
    align-content: center;
    background-color: rgba(127, 255, 0, .15);
    visibility: hidden;
}

#scanButton, cancelScanButton {
    align-self: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: rgba(127, 255, 0, .5);
}

#cancelScanButton {
    background-color: rgba(255, 0, 0, .75);
}

.score {
    font-size: xx-large;
}

.summaryHeading {
    transform: scaleX(-1);
    font-size: 3em;
    background-color: rgb(128, 255, 255);
}

.summarySubHeading {
    font-size: 1.5em;
    background-color: rgba(128, 255, 255, .5);
}

.summarySubSubHeading {
    font-size: 1em;
    background-color: rgba(128, 255, 255, .25);
}

.mirrorEmoji {
    transform: scaleX(-1);
    font-size: 3em;
}




/* @media (prefers-reduced-motion) {
    styles to apply if a user's device settings are set to reduced motion 
}*/
 