h1 {
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: center;
    font-size: xx-large;
    margin: 0px;
}

/* h3 {
    font-size: x-large;
} */

h5 {
    font-size: larger;
}

p {
    font: icon;
    font-size: larger;
}

span {
    text-align: center;
    font-size: small;
}

summary {
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

button {
    align-self: center;
    background-color: rgba(127, 255, 0, .5);
    border-radius: 10px;
}

kbd {
    font-size: x-large;
}

#page {
    display: grid;
    grid-template-areas:
        'header '
        'QrCont '
        'txtCont'
        'comCont'
        'navCont';
    grid-template-rows: 1fr 6fr 1fr 6fr 1fr;
}

#output {
    background-color: aqua;
}

#canvasStack {
    position: absolute;
    left: 50%;
}

#canvasClockface,
#canvasClockfaceOverlay {
    position: absolute;
    left: -150px;
    /* width: 300px;
    height: 300px; */
    border: 1px solid;
}

#canvasCameraOverlay {
    position: relative;
    top: -240px;
}

#headContainer {
    display: grid;
    grid-area: header;
    grid-template-columns: 1% 15% auto 15% 1%;
    row-gap: .3em;
    grid-template-areas: '. gblscr header lclscr .';
}

#globalManaCounter {
    display: grid;
    grid-area: gblscr;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

#gameName {
    grid-area: header;
    font-size: 3em;
}

#localManaCounter {
    display: grid;
    grid-area: lclscr;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

#QrContainer {
    grid-area: QrCont;
}

#textContainer {
    grid-area: txtCont;
    justify-self: center;
}

#communicationContainer {
    display: grid;
    grid-area: comCont;
    align-content: center;
    justify-content: center;
}

#showAddingMana {
    position: absolute;
    left: 50%;
    top: 80%;
}

.triggerAnimation {
    /* visibility: hidden; */
    left: 150px;
    top: 400px;
    font-size: xx-large;
    position: relative;
    animation-name: addingMana;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

@keyframes addingMana {
    0% {left: 50%; top: 80%;}
    50% {left: 50%; top: 80%;}
    100% {left: 80%; top: 0%;}
}

#navigationContainer {
    display: flex;
    grid-area: navCont;
    justify-content: center;
    align-content: center;
    background-color: rgba(127, 255, 0, .15);
    visibility: hidden;
}

#scanButton {
    align-self: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: rgba(127, 255, 0, .5);
    z-index: 100;
}

#showPatternButton {
    align-self: center;
    border-radius: 10px;
    width: 75px;
    height: 50px;
    background-color: rgba(251, 255, 0, 0.829);
    z-index: 100;
}

#cancelScanButton, #stopHealButton {
    background-color: rgba(255, 0, 0, .75);
    z-index: 100;
}

#uglyHackSpacer {
    /* Todo: Make sane layout here */
    width: 100px;
}

#healButton {
    justify-self: right;
    height: 50px;
    background-color: rgba(127, 255, 0, 1);
}

#intro {
    display: grid;
    align-content: center;
}

#lastCloseIntro {
    display: grid;
    grid-area: navCont;
}

.score {
    font-size: large;
}

.frontpageSummary {
    font-size: 2em;
    border-radius: 15px;
    background-color: rgb(128, 255, 255);
}

.summaryHeading {
    transform: scaleX(-1);
    font-size: 3em;
    background-color: rgb(128, 255, 255);
}

.summarySubHeading {
    font-size: 1.5em;
    background-color: rgba(128, 255, 255, .5);
}

.summarySubSubHeading {
    font-size: 1em;
    background-color: rgba(128, 255, 255, .25);
}

.mirrorEmoji {
    transform: scaleX(-1);
    font-size: 3em;
}

.closeIntroDiv {
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 420px) {
    page {
        width: 420px;
    }
}

/* @media (prefers-reduced-motion) {
    styles to apply if a user's device settings are set to reduced motion 
}*/