body {
    top: 0px;
    position: absolute;
    width: 96%;
}

button {
    align-self: center;
    background-color: rgba(127, 255, 0, .5);
    border-radius: 10px;
}

/* footer {
    bottom: -25px;
    position: absolute;
    width: 100%;
    height: 50px;
} */

form {
    text-align: center;
    background: rgba(128, 255, 255, 0.12);
    border-radius: 10px;
    padding: 5px;
}

h1 {
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: center;
    font-size: large;
    margin: 0px;
}

h3 {
    text-align: center;
    font-size: x-large;
    margin: 0;
}

h5 {
    font-size: larger;
}

hr {
    border-top: 2px solid rgba(127, 255, 0, .15);
    border-radius: 5px;
}

kbd {
    font-size: x-large;
}

p {
    font: icon;
    font-size: large;
}

span {
    text-align: center;
    font-size: small;
}

summary {
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

summary:only-child {
    background-color: #bfbfbfbf;
    filter: grayscale(50%);
}

/* #page {
    display: grid;
    grid-template-areas:
    'header '
    'QrCont '
    'txtCont'
    'comCont'
        'navCont';
        grid-template-rows: 1fr 6fr 1fr 6fr 1fr;
} */

#intro {
    display: none;
    /* align-content: center; */

    &:target {
        display: block;
    }
}
        
#selectRole {
    display: none;
    
    &:target {
        display: block;
    }
}


#gameMode {
    display: none;
    
    &:target {
        display: grid;
        grid-template-rows: 2.7fr 1fr 2.7fr 0.6fr;
        overflow-y: scroll;
        grid-template-areas:
        'QrCont  '
        'textCont'
        'comCont'
        'navCont';
    }
}

#startInstruktion {
    text-align: center;
}

#secondInstruction {
    visibility: hidden;
}

#reader {
    position: relative;
    justify-content: center;
    display: flex;
}

#chooseGameMode {
    display: grid;
    justify-content: center;
}

#startDiv {
    display: grid;
    justify-content: center;
}

ul {
    margin-top: 0px;
}

li {
    font: icon;
    font-size: 14px;
}

.footnote {
    font-size: unset;
    margin-bottom: 0px;
}

.collapseDetailDiv {
    text-align: center;
}

#output {
    background-color: aqua;
}

#canvasQRShow {
    display: none;
}

#canvasStack {
    display: none;
    position: relative;
    left: 50%;
}

#canvasClockface,
#canvasClockfaceOverlay,
#canvasClockfaceOverlay1 {
    position: absolute;
    left: -150px;
    /* width: 300px;
    height: 300px; */
    border: 1px solid;
}

#canvasCameraOverlay {
    position: relative;
    top: -240px;
}

#start, #coordinator, #normal {
    font-size: xx-large;
}

#tovholder[type=checkbox][disabled] {
    filter: invert(25%);
}

#headContainer {
    display: grid;
    grid-area: header;
    grid-template-columns: 1% 35% auto 10% 10% 15% 1%;
    row-gap: .3em;
    grid-template-areas: '. gblscr header booster amulet lclscr .' '. timeLeftBar auto auto auto auto .';
}

#firstTradeInfo {
    height: 360px;
}

#amulet {
    font-size: 2em;
    grid-area: amulet;
}

#booster {
    font-size: 2em;
    grid-area: booster;
}

#globalManaCounter {
    display: grid;
    grid-area: gblscr;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

#gameName {
    grid-area: header;
    font-size: 3em;
}

#localManaCounter {
    display: grid;
    grid-area: lclscr;
    align-content: center;
    justify-content: right;
    visibility: hidden;
}

progress {
    border-radius: 10px;
    background-color: aliceblue;
}

progress::-webkit-progress-bar, progress::-moz-progress-bar {
    border-radius: 10px;
    /* background-color: green; */
    background-color: var(--progressBarColour, auto);
}

#progressBarContainer {
    /* display: grid; */
    grid-area: timeLeftBar;
    align-content: center;
    justify-content: right;
}

#QrContainer {
    grid-area: QrCont;
}

#textContainer {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 0.5em;
    /* height: 70px; */
    grid-area: textCont;
    text-align: center;
}

#communicationContainer {
    display: grid;
    grid-area: comCont;
    justify-content: center;
    /* align-content: center; */
    /* position: relative; */
}

#showAddingMana {
    position: absolute;
    left: 50%;
    top: 80%;
}

.triggerAnimation {
    /* visibility: hidden; */
    left: 150px;
    top: 400px;
    font-size: xx-large;
    position: relative;
    animation-name: addingMana;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes addingMana {
    0% {left: 50%; top: 80%;}
    50% {left: 50%; top: 80%;}
    95% {left: 80%; top: 0%;}
    100% {left: 80%; top: 0%;}
}

.triggerAnimationLocalPool {
    /* visibility: hidden; */
    left: 150px;
    top: 400px;
    font-size: xx-large;
    position: relative;
    animation-name: localPool;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes localPool {
    0% {left: 80%; top: 0%;}
    50% {left: 80%; top: 0%;}
    95% {left: 40%; top: 40%;}
    100% {left: 40%; top: 40%;}
}

.triggerAnimationGlobalPool {
    /* visibility: hidden; */
    left: 150px;
    top: 400px;
    font-size: xx-large;
    position: relative;
    animation-name: globalPool;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes globalPool {
    0% {left: 10%; top: 0%;}
    50% {left: 10%; top: 0%;}
    95% {left: 40%; top: 40%;}
    100% {left: 40%; top: 40%;}
}

.triggerAnimationGlobal {
    /* visibility: hidden; */
    left: 150px;
    top: 250px;
    font-size: xx-large;
    position: relative;
    animation-name: addingManaGlobal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes addingManaGlobal {
    0% {left: 40%; top: 40%;}
    50% {left: 40%; top: 40%;}
    95% {left: 10%; top: 0%;}
    100% {left: 10%; top: 0%;}
}

#navigationContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    grid-area: navCont;
    justify-content: center;
    align-content: center;
    background-color: rgba(127, 255, 0, .15);
    justify-content: space-evenly;
}

#actionButton, #action1Button, .roundButton {
    align-self: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    z-index: 100;
}

#lastCloseIntro {
    display: grid;
    grid-area: navCont;
}

.frontpageSummary {
    font-size: 2em;
    border-radius: 15px;
    background-color: rgb(128, 255, 255);
}

.activeButton {
    background-color: rgba(127, 255, 0, .5);
}

.inactiveButton {
    background-color: rgba(119, 142, 96, 0.5);
}

.red {
    background-color: red;
}

.green {
    background-color: rgba(127, 255, 0, .5);
}

.yellow {
    background-color: yellow;
}

/* .obsButton {
    background-color: rgba(255, 0, 0, 0.7);
} */

.score {
    font-size: large;
}

.summaryHeading {
    transform: scaleX(-1);
    font-size: 3em;
    background-color: rgb(128, 255, 255);
}

.summarySubHeading {
    font-size: 1.5em;
    background-color: rgba(128, 255, 255, .5);
}

.summarySubSubHeading {
    font-size: 1em;
    background-color: rgba(128, 255, 255, .25);
}

.mirrorEmoji {
    transform: scaleX(-1);
    font-size: 3em;
}

.closeIntroDiv {
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 420px) {
    page {
        width: 420px;
    }
}

/* @media (prefers-reduced-motion) {
    styles to apply if a user's device settings are set to reduced motion 
}*/